-- Criar tabela para configuração de métodos de pagamento
CREATE TABLE IF NOT EXISTS payment_methods_config (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  method_name VARCHAR(50) UNIQUE NOT NULL,
  is_enabled BOOLEAN DEFAULT false,
  display_name VARCHAR(100) NOT NULL,
  description TEXT,
  icon_name VARCHAR(50),
  config_data JSONB DEFAULT '{}',
  sort_order INTEGER DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Inserir configurações padrão
INSERT INTO payment_methods_config (method_name, is_enabled, display_name, description, icon_name, sort_order) VALUES
('stripe', true, 'Stripe', 'Pagamentos via cartão de crédito', 'credit-card', 1),
('pix', true, 'PIX', 'Pagamento instantâneo via PIX', 'qr-code', 2),
('abacate_pay', false, 'Abacate Pay', 'Pagamento via Abacate Pay', 'heart', 3)
ON CONFLICT (method_name) DO NOTHING;

-- Trigger para atualizar updated_at
CREATE OR REPLACE FUNCTION update_payment_methods_config_updated_at()
RETURNS TRIGGER AS \$\$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql;

CREATE TRIGGER payment_methods_config_updated_at
  BEFORE UPDATE ON payment_methods_config
  FOR EACH ROW
  EXECUTE FUNCTION update_payment_methods_config_updated_at();

-- Habilitar RLS
ALTER TABLE payment_methods_config ENABLE ROW LEVEL SECURITY;

-- Política para usuários autenticados (leitura)
CREATE POLICY payment_methods_config_read ON payment_methods_config
  FOR SELECT TO authenticated
  USING (true);

-- Política para service_role (todas as operações)
CREATE POLICY payment_methods_config_service_role ON payment_methods_config
  FOR ALL TO service_role
  USING (true)
  WITH CHECK (true);
