-- Adicionar colunas para links diretos do Stripe
ALTER TABLE public.subscription_plans 
ADD COLUMN IF NOT EXISTS stripe_price_id TEXT,
ADD COLUMN IF NOT EXISTS stripe_payment_link TEXT,
ADD COLUMN IF NOT EXISTS card_color TEXT DEFAULT '#ff8100',
ADD COLUMN IF NOT EXISTS card_title TEXT,
ADD COLUMN IF NOT EXISTS card_description TEXT;

-- Atualizar planos existentes com links do Stripe
UPDATE public.subscription_plans 
SET 
  stripe_price_id = CASE 
    WHEN plan_type = 'monthly' THEN 'price_monthly_placeholder'
    WHEN plan_type = 'yearly' THEN 'price_yearly_placeholder'
  END,
  stripe_payment_link = CASE 
    WHEN plan_type = 'monthly' THEN 'https://buy.stripe.com/monthly_link'
    WHEN plan_type = 'yearly' THEN 'https://buy.stripe.com/yearly_link'
  END,
  card_title = CASE 
    WHEN plan_type = 'monthly' THEN 'Plano Mensal'
    WHEN plan_type = 'yearly' THEN 'Plano Anual'
  END,
  card_description = CASE 
    WHEN plan_type = 'monthly' THEN 'Acesso completo por 1 mês'
    WHEN plan_type = 'yearly' THEN 'Acesso completo por 1 ano com desconto'
  END;
